.content {
    border:2px solid red;
    background-color:yellow;
    justify-content: center;
    align-items: center;
    background-image: url('../../assets/images/formImage.jpeg');
}
.content h1 {
    color:red;
    text-align: center;
}